.table-container {
    width: 100%;
    overflow-x: auto; /* Para sa responsive design */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Head{
    font-size: 50px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top; /* or 'center' */
}


th {
    background-color: #f4f4f4;
}

button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.Official{
    width: 100%;
    max-width: 1200px; 
    margin: auto;
    padding: 20px;
    position: relative;
    top: -250px;
}
